#my-chart.line {
	height: 200px;
	max-width: 400px;
	margin: 0 auto;
  }


.container-purple-blue {
  border-radius: 3px;
  background: linear-gradient(-45deg, #b9deed, #efefef, #efefef, #b9deed);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
