.campaign-box {
  margin-right: 12rem;
}

.campaign-button {
  padding-top: 4%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dates {
  padding-top: 5%;
  justify-content: space-around;
  display: flex;
}
