<div id="<%= dom_id agent %>">
  <p>
    <strong>Name:</strong>
    <%= agent.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= agent.email %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= agent.login %>
  </p>

</div>
