<div class="container mt-5">

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="container p-3 border border-dark">
					<h3> TOTAL LEADS </h3>
					<p> THIS WEEK </p>
					<h2><strong>40</strong></h2>
				</div>
			</div>

			<div class="col">
				<div class="container p-3 border border-dark">
					<h3> QUALIFIED LEADS </h3>
					<p> THIS WEEK </p>
					<h2><strong>40</strong></h2>
				</div>
			</div>

			<div class="col">
				<div class="container p-3 border border-dark">
					<h3> SPAM LEADS </h3>
					<p> THIS WEEK </p>
					<h2><strong>40</strong></h2>
				</div>					
			</div>
		</div>
	</div>

	<div class="mt-5">
		<div class="container p-3 border border-dark" style="width: 915px;">
			<h2> GRAPH </h2>
			<h4>MONTHLY LEADS</h4>

			<p>$ LEADS</p>
			<p>$ LEADS</p>
			<p>$ LEADS</p>
			<p>$ LEADS</p>
			<p>$ LEADS</p>
			<p>$ LEADS</p>
		</div>
	</div>

    </div>
  </div>
</div>