<% questions.each do |question| %>
  <div class="mb-3 string required disabled lead_name">
    <label data-choose-previous-questions-target="addqn" class="form-label string required disabled" for="lead_name">
    <%= question.title %><abbr title="required">*
    </abbr></label>
    <input class="delete-checkbox" type="checkbox">
    <input class="form-control string required disabled default-value" value="Lead will input answer here" disabled="disabled" type="text" name="lead[name]" id="lead_name">
  </div>
<% end %>
