<div class="container">
  <div class="row">
    <h1 class="text-center my-5">Create a form</h1>
      <%= simple_form_for [@campaign, @form] do |f| %>
        <%= f.input :title %>
        <%= f.submit "Proceed to Form creation", class: "btn btn-primary" %>
        <%= link_to "Back to Edit campaign", new_campaign_path, class: "btn btn-secondary" %>
      <% end %>

  </div>
</div>
