// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "popup";
@import "calendar";

// body {
// 	max-width: 1024px;
// 	margin: 0 auto;
// }

.background {
  background-image: url("background.svg");
  background-size: cover;
  background-color: #2564AF;
}

.welcome-height {
  transform: translateY(50%);
}

.box {
	border: 1px solid rgba(00, 00, 00, 0.2);
	border-radius: 6px;
}

.box-height {
  height: 900px;
}

.bottom-buttons {
  height: 80px;
  width: 250px;
  border-radius: 6px;
}

.color-hot {
  color: #05366e;
}

.color-warm {
  color: #1a89ff;
}

.color-cold {
  color: #10e7ff;
}

.text-lighter {
  opacity: 0.2;
}

.line-div{
	flex: 1;
	padding: 10px;
  }

  .the-line{
	height: 50%;
	border-bottom:1px solid #bbb;
}

.flex-parent{display:flex;}

.indiv-font{
  font-size: 20px;
}
