.navbar-lewagon {
  justify-content: space-center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

/* Modify the background color */
.navbar-custom {
  background: linear-gradient(to right, #2564AF, #69cce3);
  justify-content: space-between;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.rounded-rectangle-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #2564AF;
  color: white;
  text-decoration: none;
}

.rounded-rectangle-button:hover {
  background-color: #1A4B85;
}

.rounded-rectangle-button:focus,
.rounded-rectangle-button:active {
  background-color: #0E3060;
}

/*---------------- SLIDER MENU ----------------*/
.slider-menu-wrapper{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: 300ms;

  &.open {
    opacity: 1;
    pointer-events: all;

    .menu-content {
      transform: translateX(0);
    }
  }
}

.menu-content {
  position: fixed;
  height: 100vh;
  width: 30%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom,#2564AF,#57B2D7);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  color: white;
  transition: 300ms;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust the height as needed */
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left; /* Align items to the left */
  justify-content: center;
}

.menu-items li {
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}



.nav-item li {
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}

.navbar-top-margin {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
