<div class="col-12">
  <div class="row g-2 pt-2">
    <% campaigns.each do |campaign| %>
      <div class="col-3 box">
        <div class="p-2 mt-1">
          <%= link_to campaign.name, campaign_leads_path(campaign), class: "text-dark text-decoration-none" %>
        </div>
      </div>
      <div class="col-4">
        <div class="p-2 mt-1">01-01-2023</div>
      </div>
      <div class="col-3">
        <div class="p-2 mt-1">URL</div>
      </div>
      <div class="col-2">
        <div class="p-2">
          <%= link_to "EDIT", edit_campaign_path(campaign), class: "btn btn-primary rounded-4 p-2" %>
          <button class="btn btn-primary rounded-4 p-2" type="submit">VIEW</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
