<div class="container">
  <h1 class="text-center my-5">Campaigns</h1>

  <div class="d-flex col-auto">
    <i class="fa-solid fa-magnifying-glass p-2 m-1 opacity-25"></i>
    <div data-controller="search-campaigns">
      <%= form_with url: campaigns_path, method: :get, html: {class:
        "mb-4", data: {search_campaigns_target: "form"}} do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: "Search..",
                        value: params[:query],
                        data: 
                        {search_campaigns_target: "input",
                          action: "keyup->search-campaigns#update"                     
                      } %>
        <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row g-2">
      <div class="col-3">
        <div class="p-2 fs-5">Campaign Name</div> 
      </div>
      <div class="col-4">
        <div class="p-2 fs-5">Date Created</div>
      </div>
      <div class="col-3">
        <div class="p-2 fs-5">URL</div>
      </div>
      <div class="col-2">
        <div class="p-2 fs-5">Actions</div>
      </div>
    </div>
  </div>

  <div class="box overflow-auto p-3 shadow-sm box-height">
      <%= render "campaign", campaigns: @campaigns %>

      
  </div>
</div>

<div class="text-center">
  <button class="mt-4 text-center btn btn-primary bottom-buttons" type="submit">Create New</button>
</div>