<div class="container border border-dark rounded-5 shadow-lg p-3 mb-5 mt-4">
  <div class="campaign-box border border-dark my-5">
    <div class="d-flex justify-content-center px-2 py-2">
      <h1><%= @campaign.name.upcase %></h1>
    </div>

    <% <div class="ps-5" style="font-size: 30px;">TOTAL LEADS: <u><b>=Lead.count</b></u></div> %>


    <div class="ps-5 mt-5" style="font-size: 30px;">CAMPAIGN DETAILS</div>
    <div class="border border-dark my-5 mx-5 shadow-lg p-3 mb-5"><%= @campaign.details.capitalize %></div>

  <div class="ps-5 pb-5">
    <div class="dates">
      <div class="start_date pb-5 d-flex align-items-center">
        <input class="form-control border-dark start_date me-3" type="text" placeholder="start date" style="border border-dark">
        <span class="fa fa-calendar start_date_calendar" aria-hidden="true "></span>
      </div>

      <div class="end_date pb-5 d-flex align-items-center  pb-5 d-flex align-items-center">
        <input class="form-control border-dark end_date me-3" type="text" placeholder="end date">
        <span class="fa fa-calendar end_date_calendar" aria-hidden="true "></span>
      </div>
    </div>

    <div class="campaign-button">
      <button type="submit" class="btn btn-primary btn-lg">EDIT</button>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.0/popup.min.js"></script>
